.adminprojects {
    border-collapse: collapse;
    width: 100%;
	table-layout: fixed;
}

.adminprojects td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
	text-align: left;
	background-color: #263238;
}


.adminprojects tr:hover {
    background-color: #ddd;
}

.adminprojects th {
    padding: 12px;
    text-align: left;
    background-color: rgba(0,0,0,.4);
    color: white;
}